<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>268120909804-34sf0qvhtsi6ut1a0e3rm9h7mud5prmr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.268120909804-34sf0qvhtsi6ut1a0e3rm9h7mud5prmr</string>
	<key>API_KEY</key>
	<string>AIzaSyCvXdziIUK2BTQqM5Zmey_berDT-lFgyb0</string>
	<key>GCM_SENDER_ID</key>
	<string>268120909804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Piu.Todooshka</string>
	<key>PROJECT_ID</key>
	<string>todooshka-7a48b</string>
	<key>STORAGE_BUCKET</key>
	<string>todooshka-7a48b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:268120909804:ios:db891b6706f38cac0942c9</string>
	<key>DATABASE_URL</key>
	<string>https://todooshka-7a48b-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>